html{
  background-color:black;
}

/********CSS associated with label that wraps around card and checkbox flip mechanism********/

.labelWrapper {
  cursor: pointer;
  display:block;
  left:25%;
  position:absolute;
  top:20%;
  -webkit-perspective: 800px;
  -moz-perspective:800px;
  -ms-perspective:800px;
  -o-perspective:800px;
  perspective: 800px;

}


.labelWrapper__flipCardCheckbox {
    display: none;
}

/*******CSS to tilt card backwards 15 degrees when cursor hovers over the card container****/

.labelWrapper:hover .card{
  box-shadow: 1px 15px 10px rgba(0, 0, 0, .3);  
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -o-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

/*****CSS to actually flip the card 180 degrees from its resting position************************/

.labelWrapper__flipCardCheckbox:checked + .card {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}


/*********CSS to tilt the card forward when cursor hovers over back of card and front already flipped******/

.labelWrapper:hover .labelWrapper__flipCardCheckbox:checked + .card {
  box-shadow: 1px 15px 10px rgba(0,0,0,.2);  
  -webkit-transform: rotateX(160deg);
  -moz-transform: rotateX(160deg);
  -ms-transform: rotateX(160deg);
  -o-transform: rotateX(160deg);
  transform: rotateX(160deg);
}

/*******CSS Relating to flipping icon*************************************/



.card__front .card__flipIcon,
.card .card__back .card__flipIcon{
  position:relative;

}
.card .card__back .card__flipIcon{
  left:5.3em;
  top:-9.2em;
}

.card__front .card__flipIcon{
  left:5.3em;
  top:-8em;
}


/**** CSS applying to the card container*******************************/

.card {

  background-color:black;  
  height:400px;
  left:0em;
  margin-top:5%;
  margin:0;
  position:relative;
  width:600px;

  -webkit-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility: hidden;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/***CSS that applies to both the front and back divs of card container*******/

.card div {

  border-radius: 2px;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;  

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

/**** CSS applying to front of card elements *******************************/


.card .card__front{
  background-image: url("designs/bg2.png");
  color:#ffffff;
  cursor:pointer;  
}

/****** css relating to name at front *********************/
.card   p.card__name{
  color: #FFFFFF;
  display:block;
  font-size:2.5em;
  font-weight: bold;
  margin-bottom:-4%;
  margin-left:5%;
  margin-top:5%;
  position: relative;
  text-align:left;
}

.card  p.card__aboutme{
  font-size:1.1em;
  line-height:1.2em;
  margin-bottom:3%;
  margin-left:5%;
  padding-right:5%;
  position:relative;
  text-align:left;
}


.card__hyperlink{
  color:red;
  font-weight:bold;
  text-decoration: none;
}

.card .card__front .card__lmdIcon{
  bottom:10%;
  margin-left:-16em;
  position:absolute;
}

.card .card__front .card__linkIcon{
  float:right;
  margin-right:3%;
  margin-top:2%;
  padding-right:1%;
  padding-top:3%;
}

.card .card__front p.card__encyclopediaInfo{
  margin-left:8%;
  margin-top:9%;
  text-align:right;
  width:25%;
}

/*****CSS relating to back side of business card***********************/


/*******CSS back side resting position 180 deg from front rest position ***************/

.card .card__back {
  background-color: none;
  color: #FFFFFF;
  cursor:pointer;  
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg); 
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg); 
  transform: rotateX(180deg);
}

/*************CSS for outlined neme at the back************************/

.card__back .card__nameOutlined{
  background-color:black;
  border-radius:10px;
  border:2px solid red;
  color:white;
  height:30px;
  left:30px;
  padding-top:10px;
  position:relative;
  top:-50px;
  width:100px;
  z-index:2;
}

/*******CSS for back image***********************************************/

.card .card__back > .card__backImg{
  height:400px;
  position:relative;
  width:600px;

}






@media (max-device-width:360px) and (min-device-height:200px),
       (max-device-width:600px) and (min-device-height:200px),
       (max-device-width:1024px) and (min-device-height:200px){


  
  .labelWrapper{ 

    display:block;
    height:80vh;
    left:0;
    margin:0;
    top:0;
    width:100vw;

  } 


  .card {
    height:80vh;
    left:0;border:5px solid white;
    margin-bottom:10em;
    width:100vw;
  }

  .card .card__back{
    height:80vh;
  }

  .card p.card__name{
    font-size:7em;
  }

  .card div p.card__aboutme{
    font-size:3em;
  }

  .card__front .card__linkIcon{
    height:1.5em;
    width:1.5em;
  }

  .card__encyclopediaInfo{
    font-size:2.5em;
    top:-3em;
  }

  .card__lmdIcon { position:relative;
    left:-4em;
    top:4em;
  }

  .card .card__back{
      backface-visibility: hidden
  }

  .card .card__back > .card__backImg{
  height:80vh;
  position:relative;
  width:100vw;

  }

  .card__back .card__nameOutlined{
    font-size:2em;
    height:1em;
    padding-bottom:0.5em;
    position:relative;
    top:-3em;
    vertical-align:middle;
    width:9em;
  }

}


@media (max-device-width:360px){

  .card{
    left:20px;
    top:8em;
    width:95%;

  }

  .card .card__front p.card__encyclopediaInfo{
    left:1em;
    position:relative;
    top:0em;
  }

  .card__lmdIcon{
    left:16.5em;
    top:17em;
    font-size:2em;
  }
  .card__linkIcon{
    font-size:2em;
  }

  .card .card__back .card__flipIcon{
    left:8em;
    position:relative;
    top:-1220px;
  }

.card__front .card__flipIcon{
  left:8.5em;
  position:relative;
  top:-22.7em;
} 

  .card .card__back > .card__backImg{
    height:80vh;
    position:relative;
    width:95%;
  }   

}

@media (min-device-width:361px) and (max-device-width:600px) {

  .card .card__front p.card__encyclopediaInfo{

    margin-left:2.5em;
    margin-top:2em;
  }

  .card__lmdIcon{
      left:16.7em;
      top:21em;
  }
  .card__linkIcon{
    font-size:2em;
  }


  .card {
    height:75vh;
    left:15px;border:5px solid white;
    margin-bottom:10em;
    top:8em;
    width:95%;
  }

  .card .card__back{
    height:75vh;
  }  

  .card .card__back > .card__backImg{
    height:75vh;
    position:relative;
    width:95%;
  }  

  .card .card__back .card__flipIcon{
    left:7em;
    position:relative;
    top:-1170px;
  }  

.card__front .card__flipIcon{
  left:9em;
  position:relative;
  top:-22.7em;
}    

}

@media (min-device-width:601px) and (max-device-width:1024px){

  .card_encyclopediaInfo{
    margin-left:1.5em;
    margin-top:0em;
  }

  .card__lmdIcon{
      left:17em;
      top:28em;
    }
  .card__linkIcon{
      font-size:2em;
    }

  .card .card__front .card__flipIcon{
    left:9.5em;
    position:relative;
    top:-21.5em;
  }  

  .card .card__back .card__flipIcon{
      left:8em;
      position:relative;
      top:-1000px;
    }

  .card{
      font-size:0.9em;
      height:80vh;
      left:20px;
      top:5em;
      width:95%;
    }

  .card .card__back{
      height:80vh;
    }  

  .card .card__back > .card__backImg{
    height:80vh;
    position:relative;
    width:95%;
    }  

  .card__front .card__flipIcon{
    left:8.5em;
    position:relative;
    top:-21.7em;

  }  


}

